
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 1s;
  }
  
  .default {
    background-color: $theme-11;
    &:hover {
      background-color: lighten($theme-11, 15%);
    }
  }
  
  .error {
    background-color: $theme-9;
    &:hover {
      background-color: lighten($theme-9, 15%);
    }
  }
  
  .info {
    background-color: $theme-1;
    &:hover {
      background-color: lighten($theme-1, 15%);
    }
  }
  
  .success {
    background-color: $theme-10;
    &:hover {
      background-color: lighten($theme-10, 15%);
    }
   }
  
  .warning {
    background-color: $theme-2; 
    &:hover {
      background-color: lighten($theme-2, 15%);
    }}


/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: $breakpoint) {
    
    .btn {
      padding: 10px 30px;
    }
    
    .btn + .btn {
      margin-left: 10px;
    }
    
    }